# Settings for GitHub Actions
source $HOME/.envrc_common
export GL_PRJ_NAME=gl
export GL_ENV="dev"
export GL_REGION="us-west-2"
export GL_AWS_DEFAULT_PROFILE="$GL_ENV"
export AWS_PROFILE=$GL_ENV
export AWS_ACCESS_KEY_ID=$(passme $GL_ENV/aws/aws_access_key_id)
export AWS_SECRET_ACCESS_KEY=$(passme $GL_ENV/aws/aws_secret_access_key)
# export GPG_TTY=$(tty)
export GL_DB_USR=$(passgl $GL_PRJ_NAME/$GL_ENV/db/db_username)
export GL_DB_PSW=$(passgl $GL_PRJ_NAME/$GL_ENV/db/db_password)
export GL_DB_HOST=$(passgl $GL_PRJ_NAME/$GL_ENV/db/db_host)
export GL_DB_PORT=$(passgl $GL_PRJ_NAME/$GL_ENV/db/db_port)
export GL_DB_NAME=$(passgl $GL_PRJ_NAME/$GL_ENV/db/db_name)
export GL_DB_CONN="postgresql://$GL_DB_USR:$GL_DB_PSW@$GL_DB_HOST:$GL_DB_PORT/$GL_DB_NAME?ssl=true"
[ "$GL_ENV" != "prod" ] && export LOG_LEVEL=debug || export LOG_LEVEL=info

export TF_VAR_user=$(passgl $GL_PRJ_NAME/$GL_ENV/db/db_username)
export TF_VAR_pswd=$(passgl $GL_PRJ_NAME/$GL_ENV/db/db_password)



# # Settings for Jenkins
# export GL_ENV=dev
# export GL_PRJ_NAME=gl
# export AWS_DEFAULT_PROFILE=$GL_ENV

# export GL_DB_USR=$(pass $GL_PRJ_NAME/$GL_ENV/gl_db_usr)
# export GL_DB_PSW=$(pass $GL_PRJ_NAME/$GL_ENV/gl_db_psw)
# export GL_DB_HOST=$(pass $GL_PRJ_NAME/$GL_ENV/gl_db_host)
# export GL_DB_PORT=$(pass $GL_PRJ_NAME/$GL_ENV/gl_db_port)
# export GL_DB_NAME=$(pass $GL_PRJ_NAME/$GL_ENV/gl_db_name)
# export GL_DB_CONN="postgresql://$GL_DB_USR:$GL_DB_PSW@$GL_DB_HOST:$GL_DB_PORT/$GL_DB_NAME?ssl=true"
# export GL_COGNITO_USR=$(pass $GL_PRJ_NAME/$GL_ENV/gl_cognito_usr)
# export GL_COGNITO_PSW=$(pass $GL_PRJ_NAME/$GL_ENV/gl_cognito_psw)
# export GL_NPM_TOKEN_RO=$(pass $GL_PRJ_NAME/node/gl_npm_token_ro)
# [ "$GL_DEVELOPMENT_ENV" != "prod" ] && export LOG_LEVEL=debug || export LOG_LEVEL=info


# export AWS_ACCESS_KEY_ID_DEV=$(pass $GL_PRJ_NAME/dev/aws_access_key_id)
# export AWS_SECRET_ACCESS_KEY_DEV=$(pass $GL_PRJ_NAME/dev/aws_secret_access_key)

# export AWS_ACCESS_KEY_ID_QA=$(pass $GL_PRJ_NAME/qa/aws_access_key_id)
# export AWS_SECRET_ACCESS_KEY_QA=$(pass $GL_PRJ_NAME/qa/aws_secret_access_key)

# export AWS_ACCESS_KEY_ID_PROD=$(pass $GL_PRJ_NAME/prod/aws_access_key_id)
# export AWS_SECRET_ACCESS_KEY_PROD=$(pass $GL_PRJ_NAME/prod/aws_secret_access_key)
